html,
input {
  font-family: 'PT Sans Narrow', sans-serif;
  color: color(text);
}

main {
  margin-bottom: 30px;
}

h1 {
  font-family: 'Bad Script', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: color(text);
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // overflow: hidden;
}

.content {
  flex: 1 0 auto;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.btn {
  display: block;
  width: 100%;
  background-color: color(secondary);
  border: none;
  color: color(text);
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 10px 0;
  cursor: pointer;
  outline: none;

  @include tablet { 
    &:hover {
      background-color: color(text);
      color: color(secondary);
    }
  }

  &:active {
    background-color: color(dark);
  }

  &:disabled {
    color: color(primary);
  }
}

.hidden {
  display: none !important;
}
