#board {
  div {
    float: left;
    width: 5%;
    height: 5%;
    border: 1px solid color(secondary);

    @include tablet {
      width: 10px;
      height: 10px;
      
      // transition: all .2s ease-in-out;
    }

    &.live {
      background-color: color(text);
    }
  }
}

