footer {
  flex-shrink: 0;
  width: 100%;
  padding: 15px 0;
  background-color: complement(color(dark));

  a {
    font-family: 'PT Sans Narrow', sans-serif;
    color: color(secondary);

    &:hover {
      color: color(primary);
    }
  }

  p {
    font-family: 'Bad Script', sans-serif;
    text-align: center;
    line-height: 1.6em;
    color: color(secondary);
  }

  .footer__social {
    text-align: center;
    margin-top: 10px;

    a {
      text-decoration: none;
      font-size: 2em;
      padding: 0 15px;
    }
  }
}
