#menu {
  display: none;

  @include tablet {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .menu__form,
    .menu__actions,
    .menu__instructions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      width: 100%;
      margin-bottom: 20px;
      background-color: color(primary);
    }

    .menu__instructions {
      margin-right: 0;
    }

    h3 {
      padding: 15px 0;
    }
  }

  @include desktop {
    flex-direction: column;
    max-width: 240px;
    .menu__form,
    .menu__actions,
    .menu__instructions {
      margin-right: 0;
    }
  }
}

.menu__form {
  input {
    width: 100%;
    font-size: 1em;
    padding: 7px 0 7px 20px;
    border: none;
    outline: none;
    &:nth-of-type(1) {
      border-bottom: 1px solid color(dark);
    }
  }
}

.menu__actions .btn {
  border-top: 1px solid color(dark);
  &:nth-of-type(1) {
    border-top: none;
  }
}

.menu__instructions {
  @include tablet {
    #toggle {
      width: 100%;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: color(dark);
        color: color(secondary);
      }
    }

    ul {
      background-color: color(secondary);
      text-align: center;
      width: 100%;

      li {
        width: 100%;
        border-bottom: 1px solid color(dark);

        &:nth-last-child(2) {
          border-bottom: none;

          @include desktop {
            border-bottom: 1px solid color(dark);
          }
        }

        &:last-child {
          display: none;

          @include desktop {
            display: block;
            border-bottom: none;
          }
        }

        &:hover {
          background-color: color(primary);
        }

        p {
          padding: 5px 10px;
          line-height: 1.5em;
        }
      }
    }
  }
}
