* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  text-align: center;
}

#userInput form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input,
  button {
    width: 200px;
    height: 30px;
    border: none;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }

  input {
    border-bottom: 2px solid #ccc;
    font-size: 1em;
    padding-left: 10px;
  }

  button {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    border: none;
    cursor: pointer;
    outline: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
    &:active {
      background-color: #000;
      color: #fff;
    }
  }
}

#board div {
  width: 10px;
  height: 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  float: left;
}

#board div.live {
  background-color: #000000;
}

#board {
  margin: 50px auto 0;
  min-height: 100px;
  min-width: 100px;
}

#game-menu {
  margin: 50px auto;
  width: auto;

  .actions {
    text-align: center;
  }
}

.hidden {
  display: none;
}
